/* Site variables
 * ----------------------------------------------- */ 


/* General Colours
 * ----------------------------------------------- */
 $black: #333;
 $white: #fff;
 $grey: #555;
 $blue: #8a98a8;