/* Site Settings
 * ----------------------------------------------- */ 

html{
  font-size: 10px;
}


/* General Colours
 * ----------------------------------------------- */
 $black: #333;
 $white: #fff;
 $grey: #555;
 $blue: #8a98a8;