/* Site Header
 * ----------------------------------------------- */

.site-header{
  background: lavender;
  padding: 0.5rem 1rem;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between; 

  .link{
    padding: 0.5rem;
    font-family: "open-sans";
  }
}